#form{
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}
#form input{
    font-size: 22px;
}
#container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    justify-content: center;
    text-align: center;
    border: solid 1px red;
    gap: 20px;
    padding: 20px;
}
#container img{
    height: 300px;
    width: 300px;
    margin-left: 10px;
    margin-bottom: 10px;
}
h1{

    text-align: center;
    margin: auto;  
    margin-bottom: 20px;
    color: blue;
}
#container div{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}